@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @todo color scheme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 100ms ease-in-out;
  visibility: visible;
}

.fade-out {
  animation: fadeOut 75ms ease-in-out;
  visibility: hidden;
  transition: visibility 0s linear 75ms;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 90%;
  max-width: 520px;
  height: auto;
  max-height: 560px;
  border-radius: 12px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #577bc199;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #577bc160;
  border-radius: 4px;
}
